name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install system dependencies and Python dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto-cjk fonts-wqy-zenhei
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Static check
        run: |
          python -m compileall organize_projects.py
